/* styles for all */

body{
    text-align: center;
    background-color: rgb(25, 133, 228);
    font-size: 2rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: black;
    margin: 0 auto;
    line-height: 1.5;
}

header{
    font-size: 2rem;
    margin: 0 auto;
}
h1{position: sticky;
    top: 0;
    font-size: 1rem;
    background-color: azure;
    text-align: center;
    padding: 1rem;
}
h2{
    font-size: 1rem;
}
.p-1{
    font-size: 4rem;
    background-color: rgba(17, 255, 0, 0.61);
    padding: 1rem;

}

.section-1{
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
}

.section-2{
    padding: 2rem;
    background-color: aliceblue;
    margin: 1rem;
    font-size: 1rem;
}
a{
    color: black;
    padding: 0.5rem;
}

.div-1{
    color: black;
}

.div-2{
    padding: 2rem;
    font-size: 1rem;
    display: contents;
    
    
}
.site-navigation{
    background-color: rgb(179, 231, 244);
    justify-content: space-evenly;
    border-radius: 0.5rem;
    margin: 0.5rem;
    font-weight: 500;
    
}

.site-navigation a {
    color: #000000;
    padding: 0.5rem;
}
.types{
    background: aliceblue;
    font-size: 1rem;
    padding: 2rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

img{
    width:100%;
}

article img{
    color: darkblue;
    box-shadow: 0px 2px 3px 2px;
}


/* media ajustments */

@media(min-width:37.25em){

.site-wrapper{
    position: sticky;
    max-width: 100%;
    top: 0;
    margin-bottom: 3rem;
    z-index: 50;
    margin: 0 auto;
     
    /* text-align: center;
    background-color: rgb(25, 133, 228);
    font-size: 2rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: black;
    margin: 0px auto; */
    
}
header{
    font-size: 1rem;
    justify-content: center;
}


h2{
    font-size: 2rem;
}
.section-1{
    display: flex;
    font-size: 3rem;
    justify-content: center;
    padding:3rem;

}
.projects-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.site-navigation{
    margin: 5rem;
}
 .div-2{
    color: aliceblue;
    font-size: 2rem;
 }
 .types{
    font-size: 3rem;
    display:block;
    justify-content: space-evenly;
 }


 article{
    color: #f0f8ff;
    background-color: #02559d;
    margin: 2rem;
    padding: 2rem;
    width: 300px;
    border-radius: 0.5rem;
 }

}
